---
layout: base.njk
title: Index of /blog
permalink: /
---
<h1>Index of /blog</h1>
<hr>

<div class="table-wrap">
<table>
    <thead>
        <tr>
            <th>Filename</th>
            <th>Size</th>
            <th>Last Modified</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="../"><span>📁</span> ..</a></td>
            <td>-</td>
            <td>-</td>
        </tr>
        {%- for folder in collections.rootFolders %}
        <tr>
            <td><a href="/{{ folder }}/"><span>📁</span> {{ folder }}/</a></td>
            <td>-</td>
            <td>-</td>
        </tr>
        {%- endfor %}
        {%- for post in collections.rootPosts %}
        <tr>
            <td><a href="{{ post.url }}"><span>📄</span> {{ post | postBasename }}.html</a></td>
            <td>{{ post.templateContent | filesize }}</td>
            <td>{{ (post.date or post.data.date) | apacheDate }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
</div>

<hr>
<div class="footer-text">
    Bioengineer, Aristocrat of the Soul | <a href="mailto:spencerhuanglee@gmail.com">contact</a>
</div>
